@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

body {
    font-family: 'Public Sans', sans-serif;
}

.item-articles div>* {
    margin: .5rem 0;
}

/* desktop */
@media screen and (min-width: 768px) {

    .hero {
        background-position: -50px -180px;
    }


    .hero img {
        width: 600px;
        height: 700px;

        position: relative;
        /* right: -20px; */
        top: -90px;
    }

    .item-articles img {
        height: 11rem;
        width: 100%;

    }

    nav a {
        position: relative;
        transition: all 1s;
      
    }

    nav a:hover::before {
        content: '';
        display: block;
        position: absolute;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -27px;
        transition: all 1s;
        background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    }

}

/* mobile */
@media not all and (min-width: 768px) {
    .hero {
        background-position: 0 -60px;
    }

    .item-articles img {
        height: 12rem;
        width: 100%;
    }
  
   
}